<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.model.mapper.mission.MissionMapper">

    <!-- TODO:DB가 바껴서 이것도 바꿔야 함-->
    <select id="getMissionsByRoomId" parameterType="Long" resultMap="missionMap">
        SELECT DISTINCT
        mp.mission_id,
        cc.category AS type,
        mp.latitude,
        mp.longitude,
        reg.region_name,
        CASE
        WHEN cc.category = 'story' THEN sp.content
        ELSE NULL
        END AS story_content,
        CASE
        WHEN cc.category = 'heritage' THEN hp.content  <!-- heritage_problems의 content 컬럼 사용 -->
        ELSE NULL
        END AS heritage_content,
        CASE
        WHEN cc.category = 'heritage' THEN hp.answer
        ELSE NULL
        END AS heritage_answer
        FROM
        rooms r
        CROSS JOIN regions reg
        JOIN mission_positions mp ON mp.region_id = reg.region_id
        JOIN common_codes cc ON cc.code_id = mp.code_id
        LEFT JOIN today_cards tc ON tc.mission_id = mp.mission_id
        LEFT JOIN cards c ON c.card_id = tc.card_id
        LEFT JOIN story_problems sp ON sp.card_id = c.card_id AND cc.category = 'story'
        LEFT JOIN heritage_problems hp ON hp.card_id = c.card_id AND cc.category = 'heritage'
        WHERE
        r.room_id = #{roomId}
        AND r.status = TRUE
        ORDER BY
        mp.mission_id
    </select>

    <resultMap id="missionMap" type="com.ssafy.controller.mission.MissionResponse">
        <id property="missionId" column="mission_id"/>
        <result property="type" column="type"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
        <result property="regionName" column="region_name"/>
        <result property="storyContent" column="story_content"/>
        <result property="heritageContent" column="heritage_content"/>
        <result property="heritageAnswer" column="heritage_answer"/>
    </resultMap>


    <select id="getMissionInfoByPlace" resultType="com.ssafy.model.entity.MissionPosition">
        SELECT mp.mission_id, mp.place_id, mp.code_id, mp.card_id, mp.position_name, ST_AsText(mp.center_point) as center_point, ST_AsText(mp.edge_points) as edge_points,
        CASE
            WHEN mp.code_id IN ('M001', 'M002') THEN
                CASE
                    WHEN EXISTS (SELECT 1 FROM logs l WHERE l.card_id = mp.card_id AND l.user_id = #{userId} AND l.result = true) THEN true ELSE false END
                    WHEN mp.code_id = 'M003' AND #{roomId} IS NOT NULL THEN
                    CASE
                        WHEN EXISTS (SELECT 1 FROM pictures p INNER JOIN memberships m ON m.room_id = p.room_id AND m.code_id = 'J001'
                                     WHERE p.mission_id = mp.mission_id AND p.room_id = #{roomId} AND p.user_id = m.user_id) THEN true ELSE false END
            ELSE false
        END as is_correct, true as is_visible
        FROM mission_positions mp INNER JOIN heritage_places hp ON mp.place_id = hp.place_id
        WHERE hp.place_name = #{placeName}
        <choose>
            <when test="roomId != null">
                AND mp.code_id IN ('M001', 'M002', 'M003')
            </when>
            <otherwise>
                AND mp.code_id IN ('M001', 'M002')
            </otherwise>
        </choose>
    </select>

</mapper>