<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.model.mapper.Oquiz.OquizMapper">
    <resultMap id="quizResultMap" type="com.ssafy.controller.Oquiz.QuizResponse">
        <result property="content" column="content"/>
        <result property="initial" column="initial"/>
        <result property="blackIconUrl" column="black_icon_image_url"/>
    </resultMap>

    <select id="getRandomQuizByMissionId" parameterType="Long" resultMap="quizResultMap">
        SELECT
            qt.content,
            qt.initial,
            sp.black_icon_image_url
        FROM today_cards tc
                 LEFT JOIN story_problems sp ON tc.card_id = sp.card_id
                 LEFT JOIN quiz_types qt ON sp.problem_id = qt.problem_id
        WHERE tc.mission_id = #{missionId}
        ORDER BY RAND()
            LIMIT 1
    </select>
</mapper>