<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.schedules.mapper.ScheduleMapper">

    <select id="findByRoomId" resultType="com.ssafy.schedules.model.Schedule">
        SELECT
            schedules_id as scheduleId,
            room_id as roomId,
            start_time as startTime,
            end_time as endTime,
            content
        FROM schedules
        WHERE room_id = #{roomId}
    </select>

    <select id="findByRoomIdAndScheduleId" resultType="com.ssafy.schedules.model.Schedule">
        SELECT schedules_id, room_id, start_time, end_time, content
        FROM schedules
        WHERE room_id = #{roomId} AND schedule_id = #{scheduleId}
    </select>

    <insert id="insert" parameterType="com.ssafy.schedules.model.Schedule" useGeneratedKeys="true" keyProperty="scheduleId">
        INSERT INTO schedules (room_id, start_time, end_time, content)
        VALUES (#{roomId}, #{startTime}, #{endTime}, #{content})
    </insert>

    <update id="update" parameterType="com.ssafy.schedules.model.Schedule">
        UPDATE schedules
        SET start_time = #{startTime},
            end_time = #{endTime},
            content = #{content}
        WHERE schedules_id = #{scheduleId} AND room_id = #{roomId}
    </update>

    <delete id="delete">
        DELETE FROM schedules WHERE schedules_id = #{scheduleId}
    </delete>
</mapper>