<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.model.mapper.notification.TeacherNoticeMapper">
    <insert id="insertNotice" parameterType="TeacherNotice" useGeneratedKeys="true" keyProperty="noticeId">
        INSERT INTO teacher_notices (room_id, content, title)
        VALUES (#{roomId}, #{content}, #{title})
    </insert>

    <update id="updateNoticeStatus">
        UPDATE teacher_notices
        SET status = #{status}
        WHERE notice_id = #{noticeId}
    </update>

</mapper>