<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.model.mapper.fcm.TeacherNoticeMapper">
    <insert id="insertNotice" parameterType="TeacherNotice" useGeneratedKeys="true" keyProperty="noticeId">
        INSERT INTO teacher_notices (
            room_id,
            content,
            title
        ) VALUES (
                     #{roomId},
                     #{content},
                     #{title}
                 )
    </insert>

    <select id="selectNotice" resultType="TeacherNotice">
        SELECT notice_id, room_id, content, created_at, title, status
        FROM teacher_notices
        WHERE notice_id = #{noticeId} AND room_id = #{roomId}
    </select>

    <select id="selectNoticesByRoomId" resultType="TeacherNotice">
        SELECT notice_id, room_id, content, created_at, title, status
        FROM teacher_notices
        WHERE room_id = #{roomId}
        ORDER BY created_at DESC
    </select>

    <update id="updateNoticeStatus">
        UPDATE teacher_notices
        SET status = #{status}
        WHERE notice_id = #{noticeId}
    </update>
</mapper>